<div class="jumbotron">
      <div class="container">
        <h1>Awesome Answers</h1>
        <p>CodeCore Class Exercise.</p>
        <%=link_to "View Active Questions", questions_path %>
      </div>
    </div>


<!--
<div class="row">
  <div class="box orange col-md-3 col-sm-6 col-xs-12">
    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png"/>
  </div>
  <div class="box blue col-md-3 col-sm-6 col-xs-12">
    <img class="img-responsive" src="http://connexo.de/img/logos/CSS3_Logo.png"/>
  </div>
  <div class="box green col-md-3 col-sm-6 col-xs-12">
    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ruby_logo.png"/>
  </div>
  <div class="box brown col-md-3 col-sm-6 col-xs-12">
    <img class="img-responsive" src="http://vignette3.wikia.nocookie.net/computerscience/images/c/ce/Javascript_logo_unofficial-300x300.png/revision/latest?cb=20140903193524"/>
  </div>
</div> -->
