// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#contact {
  font-family: impact;
  color: #7AC5CD;
  text-align: center;
}
