<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers - special</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2>This is me testing a special layout</h2>

<%= yield %>

</body>
</html>
